/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media screen {
    .draggrid { margin: 20%; width: 60%; }
    .draggrid li { width: 100%; }
    #stone a.coordinates { font-size: 2em;}
    #placesgrid img.landscape { width: 100%; margin: 0; }
    #placesgrid img.portrait { height: 100%; margin: 0; }
    .desktop { display: none; }
    .mobile { display: block; }
    article { font-size: 1.25em; margin: 25% auto 5% auto; width: 85%; }
    article h1 { display: none; }
}

@media screen and (min-width: 480px) {
    .draggrid { margin: 10%; width: 80%; }
    .draggrid li { width: 33.3333333333%; }
    #placesgrid img.landscape { width: 80%; }
    #placesgrid img.portrait { height: 80%; }
    #stone a.coordinates { font-size: 2em;}
    .desktop { display: block; }
    .mobile { display: none; }
    article { font-size: 1.5em; margin: 5% auto 5% auto; max-width: 600px; width: 75%; }
    article h1 { display: block; }
}

@media screen and (min-width: 768px) {
    .draggrid { margin: 7.5%; width: 85%; }
    .draggrid li { width: 20%; }
    #stone a.coordinates { font-size: 3em;}
    article { font-size: 1.86666666667em; }
}

@media screen and (min-width: 1200px) {
    .draggrid { margin: 5%; width: 90%; }
    .draggrid li { width: 11.1111111111%; }
    #stone a.coordinates { font-size: 5em;}
}

.gridbox .draggrid li { width: 16.6666666667%; }