/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */
    #stonesgrid { margin: 10%; width: 80%; }
    #stonesgrid li { width: 33.3333333333%; }
    #placesgrid li { width: 50%; }
    #coordsgrid { margin: 20% 15% 5% 15%; width: 70%; }
    #coordsgrid li { width: 50%; }
    #stone a.coordinates { font-size: 2em;}
}

@media screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */
    #stonesgrid { margin: 7.5%; width: 85%; }
    #stonesgrid li { width: 20%; }
    #placesgrid li { width: 33.3333333333%; }
    #coordsgrid { margin: 15% 5% 5% 5%; width: 90%; }
    #coordsgrid li { width: 33.3333333333%; }
    #stone a.coordinates { font-size: 3em;}
}

@media screen and (min-width: 1200px) {
    /* Style adjustments for viewports 1200px and over go here */
    #stonesgrid { margin: 5%; width: 90%; }
    #stonesgrid li { width: 11.1111111111%; }
    #placesgrid li { width: 20%; }
    #coordsgrid { margin: 10% 5% 5% 5%; width: 90%; }
    #coordsgrid li { width: 20%; }
    #stone a.coordinates { font-size: 5em;}
}