/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */
    #stonesgrid li { width: 33.3333333333%; }
    #placesgrid li { width: 50%; }
    #coordsgrid li { width: 50%; }
    #stone a.coordinates { font-size: 2em;}
}

@media screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */
    #stonesgrid li { width: 16.6666666667%; }
    #placesgrid li { width: 33.3333333333%; }
    #coordsgrid li { width: 33.3333333333%; }
    #stone a.coordinates { font-size: 3em;}
}

@media screen and (min-width: 1200px) {
    /* Style adjustments for viewports 1200px and over go here */
    #stonesgrid li { width: 10%; }
    #placesgrid li { width: 20%; }
    #coordsgrid li { width: 20%; }
    #stone a.coordinates { font-size: 5em;}
}