html { background-color: #e7ebeb; color: #000; font-family: Arial, sans-serif; font-weight: bold; }
.colorblue { color: #445c98; }
.colororange { color: #eb6c5f; }
.center { text-align: center; }
.nowrap { white-space: nowrap; }
.link { cursor: pointer; }
.icon { display: inline-block; width: 16px; height: 12px; }
.icon.grid { background-image: url(../img/grid-b.png); }
.icon.grid:hover { background-image: url(../img/grid-w.png); }
.icon.list { background-image: url(../img/list-b.png); }
.icon.list:hover { background-image: url(../img/list-w.png); }
a { text-decoration: none; }
nav { font-size: 0.9375em; } /* 15px */
nav a { color: #000; }
nav a:hover { color: #fff; }
nav a.active { color: #eb6c5f; }
h1 { color: #445c98; }
h1, h2 { font-size: 1.86666666667em; margin: 0; } /* 28px */
h2 a { color: #000; }
h2 a:hover { color: #fff; }
h2 a.active { color: #eb6c5f; }
.hover .imagetext.over { display: none; }
.hover:hover .imagetext.over { display: inline-block; }
.hover:hover .imagetext.normal { display: none; }

article { color: #445c98; font-weight: bold; }
article h1 { font-size: 1em; text-align: center; }
article a { color: inherit; text-decoration: underline; }
article a:hover { color: #eb6c5f; }

table { color: #445c98; white-space: nowrap; margin: 5% auto 5% auto; } /* 9px */
td, th { padding: 0.25em 0.5em; vertical-align: top; }
thead { font-size: 0.5625em; text-decoration: underline; text-align: left; font-weight: normal; }
tbody { font-size: 0.75em; }
td:first-child { text-align: right; }
table a { color: #445c98; }
table a:hover, tr:hover a { color: #eb6c5f; }

#stonesgrid { padding: 0; }
#stonesgrid li, #placesgrid li { float: left; list-style: none; }
#stonesgrid img { width: 100%; }

#placesgrid { padding: 0; }
#placesgrid li { display: table; }
#placesgrid a { display: block; height: 100%; width: 100%; vertical-align: middle; text-align: center; display: table-cell; }

#coordsgrid { padding: 0; }
#coordsgrid li { float: left; list-style: none; display: table; }
#coordsgrid a { display: table-cell; vertical-align: middle; text-align: center; width: 100%; height: 100%; overflow: hidden; color: #000; }
#coordsgrid img.imagetext { width: 70%; }

#stone { width: 100%; height: 100%; overflow: hidden; position: absolute; z-index: 10; }
/* #stone img { width: 100%; margin: auto 0; } */
#stone div.coordinates { display: table; width: 100%; height: 100%; position: absolute; }
#stone div.wrapper { display:table-cell; vertical-align:middle; text-align: center; }

#stone a.coordinates { color: #000; text-align: center; } /* 80px */
#stone a.coordinates:hover { color: #fff; }


#topnav, #footernav, #master, #left, #right, #bottom { position: fixed; z-index: 100; }
#topnav { top: 1%; left: 0; width: 100%; }
#topnav, #footernav { line-height: 32px; }
#topnav li.col1 { width: 15%; }
#topnav li.col2 { width: 40%; }
#topnav li.col1.left a { margin-left: 2em; }
#topnav li.col1.right { text-align: right; }
#topnav li.col1.right a { margin-right: 2em; }
#footernav { bottom: 1%; left: 0; width: 100%; }
#master { top: 5%; left: 0; text-align: center; width: 100%; }
.master { margin-top: 1.85%; text-align: center; width: 100%; }
#bottom { bottom: 5%; left: 0; text-align: center;  width: 100%; }
#left { left: 0; top: 45%; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); }
#right { right: 0; top: 45%; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); }
nav ul { margin: 0; padding: 0; clear: both; }
nav li { float: left; }
.desktop nav a { margin: 2em; display: inline-block; }
#footernav li.col1, #footernav li.col2 { width: 50%; }
#footernav li.col1 a { margin-left: 2em; }
#footernav li.col2 { text-align: right; }
#footernav li.col2 a { margin-right: 2em; }

#mobilenav { position: fixed; top: 0; left: 0; width: 90%; margin: 5%; z-index: 100; }
#mobilenav li { width: 20%; text-align: center; }

.news { margin-bottom: 4em; }
.news .date { color: #000; }
.news .date:before { content: "— "; color: #eb6c5f; margin-left: -1.4em; }
.news .media { text-align: center; }
.news .media img { max-width: 300px; width: 100%; }