{% extends "base.twig" %}
{% block body %}
<article>
    <header>
        <h1>Nowhere</h1>
    </header>
    <p>
        Project Nowhere<br/>
        Vergissmeinnichtweg 15<br/>
        65201 Wiesbaden
    </p>

    <p>+49 (0) 179 5358846</p>

    <p>
        <a href="mailto:hello@project-nowhere.com">hello@project-nowhere.com</a>
    </p>

    <p>
        Concept &amp; Design: <a href="http://www.sayhellotoanna.com/">Anna Meyer</a><br/>
        Programming: <a href="http://coderbyheart.de/">Markus Tacker</a>
    </p>

    <p>
        All rights reserved. All material on this pages is copyrighted, its usage or reproduction requires exclusive
        written permission. We do not take any responsibility regarding infos and content displayed on external linked
        websites.
    </p>
    <footer>
        <p>© 2012 Anna Meyer</p>
    </footer>
</article>
{% endblock %}
