{% macro newsmedia(media, date) %}
{% if not textonly %}
<p><img src="/assets/rendered/news/{{ date }}.png" alt="" longdesc="?textonly=1" /></p>
{% endif %}
{% if media[date] is defined %}
{% for img in media[date] %}
{% if loop.first %}
<div class="media">
    {% endif %}
    <img src="{{ img }}" /><br/>
{% if loop.last %}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}
