{% extends "base.twig" %}
{% block body %}
<article lang="en-us">
    <header>
        <h1 class="textimage">Nowhere</h1>
    </header>
    <section class="news"><p><span class="date">12-05-02</span> We are busy preparing the exhibition. At the Werkschau Wiesbaden we
        will present project Nowhere. The exhibition takes place from 9.–10.2. and the vernissage starts on thursday at
         6 pm. Drop by and celebrate with us!</p></section>
    <section class="news"><p><span class="date">12-05-02</span> The book »Nowhere« is printed! Take a look.</p></section>
    <section class="news"><p><span class="date">12-05-02</span> Finally! The book and the exhibition catalog is in production.
        Exciting!</p></section>
    <section class="news"><p><span class="date">12-05-02</span> Behind the scenes: the shootings in Berlin and Wiesbaden.</p>
    </section>
    <section class="news"><p><span class="date">12-05-02</span> Sorting the stones in order.</p></section>
    <section class="news"><p><span class="date">12-05-02</span> The Customs Office has been very busy… Result: You are awesome!</p>
    </section>
    <section class="news"><p><span class="date">12-05-02</span> Back in our studio. Difficult decisions to make...</p></section>
    <section class="news"><p><span class="date">12-05-02</span> We are in Berlin taking nice pictures of people and landscapes :)</p>
    </section>
    <section class="news"><p><span class="date">11-10-01</span> Just a short reminder: the deadline for the next project nowhere
        exhibition is 2011-10-15</p></section>
    <section class="news"><p><span class="date">11-10-01</span> We are planning an exhibition in Wiesbaden in feburary. Stay tuned.
    </p></section>
    <section class="news"><p><span class="date">12-05-02</span> We are receiving the first stones from Japan, USA, Ireland, France,
        Germany, United Kingdom and Mongolia. Thank you all!</p></section>
    <section class="news"><p><span class="date">12-05-02</span> Please participate in the project Nowhere! For taking part in the
        project click here.</p></section>
    <section class="news"><p><span class="date">12-05-02</span> We moved in our new Studio. Hooray! Already got some nice things on
        our wall.</p></section>
</article>
{% endblock %}
